body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #333399, #ff00cc);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

nav {
  background-color: #202020;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #ff37d7;
  color: #202020;
}

.right {
  float: right;
}

footer {
  background-color: #f2f2f2;
  color: #666;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  display: block;
  align-self: center;
  height: 50px;
  margin-top: auto;
  width: 98%;
}
